<div class="wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Broadcast Management
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        class="example-container"
        [formGroup]="imageForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
      >
        <mat-form-field style="cursor: pointer;width:60%;">
          <ngx-mat-file-input
            #removableInput
            formControlName="image"
            placeholder="upload an image"
            accept=".png,.jpg,.webp,.jpeg"
            (change)="upload($event)"
          ></ngx-mat-file-input>
          <button
            mat-icon-button
            matSuffix
            *ngIf="removableInput.empty"
            (click)="removableInput.clear($event)"
          >
            <mat-icon>folder</mat-icon>
          </button>
          <mat-error *ngIf="imageForm.get('image').hasError('required')">
            Please select a file
          </mat-error>
  
          <button
            mat-icon-button
            matSuffix
            *ngIf="!removableInput.empty"
            (click)="removableInput.clear($event)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
        <mat-error
          *ngIf="isInvalid && !uploadForm.get('uploadFile').hasError('required')"
        >
          {{ invalidExtension }}
        </mat-error>
        &nbsp;
        <button type="submit" mat-raised-button class="button-maroon">
          Ok
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="img-wrap"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap="10px"
  fxLayoutGap.xs="10px"
  style="margin: 10px;">
    <mat-card fxFlex="30%">
      <img mat-card-image src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80">
      <mat-card-footer>
        <button mat-raised-button type="button" (click)="deleteImg()" color="warn" style="margin:10px">Delete</button>
      </mat-card-footer>
    </mat-card>
    
  </div>
  
</div>


  