.wrapper{
    width:100%;
    height:90%;
    background-color:white;
}
.right-view{
    margin-top:10px;
    margin-left:10px;
    height:88vh;
    border-left:0.5pt solid darkgrey;
}
.left-view{
    height:88vh;
}
.cal-month-view .cal-event{
    opacity: 0%;
}
#cal-heading{
    font-weight:bold;
    margin-left:5px;
}

.spacer{
    flex: 1 1 auto;
}

.today-button{
    color:#800029;
}
.today-button:hover{
    background-color:darkgrey
}
.view-button{
    color: #800029;
    text-transform: capitalize;
}
.view-button:hover{
    background-color:darkgrey
}

.calendar{
    width:70%;
    margin:0;
    align-items: center;
}

.top-row{
    display:inline-block;
    margin-top:10px;
}

.events-list{
    height:40%;
}

.day-title{
    margin-left:6px;
    margin-right:6px;
}

.create-button{
    background-color: rgb(25, 204, 25);
    margin-left:5px;
    color:white;
}

.side-nav-toggle{
    background-color:white;
}
.toggle-button{
    vertical-align: middle;
    color: darkgrey;
}
.close-button{
    color:darkgrey;
}
