<!-- Calendar Navigation -->
    <button
      mwlCalendarPreviousView
      mat-icon-button
      [view]="view"
      [(viewDate)]="viewDate"
      class="top-row"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      mat-raised-button
      mwlCalendarToday
      [(viewDate)]="viewDate"
      class="today-button"
    >
      Today
    </button>
    <button
      mat-icon-button
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      class="top-row"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  
    
  <!-- View Title (September 2019, October 1-7, etc.) -->
    <h4 class="top-row cal-title">{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h4>
  

  <!-- View Switcher for Month, Week, and Day Views -->
  <button mat-raised-button [matMenuTriggerFor]="menu" class="view-button top-row">
  {{ view }}
  </button>
  <mat-menu #menu="matMenu">
    <button
        mat-menu-item
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
        class="view-button"
        *ngIf="view != 'month'"
      >
        Month
    </button>
    <button
      mat-menu-item
      (click)="setView(CalendarView.Week)"
      [class.active]="view === CalendarView.Week"
      class="view-button"
      *ngIf="view != 'week'"
    >
      Week
    </button>
    <button
      mat-menu-item
      (click)="setView(CalendarView.Day)"
      [class.active]="view === CalendarView.Day"
      class="view-button"
      *ngIf="view !='day'"
    >
      Day
    </button>
  </mat-menu>

  <button mat-raised-button matTooltip="Create Event" (click)="createEvent()" class="create-button top-row">
      <mat-icon>add</mat-icon><span>Create</span>
    </button>
<hr>
<!-- Calendar -->
<div [ngSwitch]="view" class="calendar">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="compatEvents"
    (dayClicked)="dayClicked($event.day)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="compatEvents"
    (eventClicked)="eventClicked($event.event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="compatEvents"
    *ngSwitchCase="'day'"
    (eventClicked)="eventClicked($event.event)"
  >
  </mwl-calendar-day-view>
</div>
  


<div *ngIf="view === CalendarView.Month" class="side-view">
  <h4 class="day-title">{{ viewDate.toDateString() }}</h4>
  <hr />
  <div class="events-list">
    <div *ngFor="let event of compatEvents">
    <div
      class="event-wrapper"
      *ngIf="
        event.start.toDateString() === viewDate.toDateString() ||
        (event.start.getDate() <= viewDate.getDate() &&
          event.end.getDate() >= viewDate.getDate())">
        <h5>{{ event.title }}</h5>
        <p>
          <span *ngIf="event.start.getDate() != event.end.getDate()">{{
            event.start.toLocaleDateString()
          }}</span>
          {{ event.start.toLocaleTimeString() }} -
          <span *ngIf="event.start.getDate() != event.end.getDate()">{{
            event.end.toLocaleDateString()
          }}</span>
          {{ event.end.toLocaleTimeString() }}
        </p>
      </div>
    </div>
  </div>

  <!-- Button for event creation form -->
  <hr>
</div>

<!-- <div class="col-3 bg-white">
  <app-calendar-list></app-calendar-list>
</div> -->

