<div *ngIf="currentRole == 'ROLE_ADMIN'">
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="flex-start"
    fxLayoutGap="5px"
    fxLayoutGap.xs="0"
  >
    <div fxFlex>
      <button
        mat-stroked-button
        class="button-maroon"
        (click)="create()"
        *ngIf="currentRole == 'ROLE_ADMIN' || currentRole == 'ROLE_PM'"
        matTooltip="create appointments"
      >
        <mat-icon>add </mat-icon>Create Appointment
      </button>
    </div>
    &nbsp;

    <div fxFlex>
      <button
        mat-stroked-button
        class="primary"
        [matMenuTriggerFor]="type"
        aria-label="Example icon-button with a menu"
        matTooltip="check sent and received appointments"
      >
        Appointments <mat-icon>expand_more </mat-icon>
      </button>
      <mat-menu #type="matMenu">
        <button mat-menu-item (click)="navigateToReceive()">
          <span><mat-icon>assignment_returned</mat-icon> Created for you</span>
        </button>
        <button mat-menu-item (click)="navigateToSent()">
          <mat-icon>assignment_turned_in</mat-icon>
          <span>Created by you</span>
        </button>
      </mat-menu>
    </div>
    &nbsp;
    <div fxFlex>
      <button
        mat-stroked-button
        class="primary"
        [matMenuTriggerFor]="schedule"
        aria-label="Example icon-button with a menu"
        matTooltip="check your all scheduled appointments"
      >
        Scheduled Appointments<mat-icon>expand_more </mat-icon>
      </button>

      <mat-menu #schedule="matMenu">
        <button mat-menu-item (click)="navigateToScheduled()">
          <mat-icon>schedule</mat-icon>

          <span>Created for you</span>
        </button>
        <button mat-menu-item (click)="navigateToScheduledRecipients()">
          <mat-icon>schedule</mat-icon>
          <span>Created by you</span>
        </button>
      </mat-menu>
    </div>
    <span fxFlex="grow"></span>
  </div>
</div>

<div *ngIf="currentRole == 'ROLE_USER'">
  <mat-toolbar>
    <mat-toolbar-row>
      <div
        class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="flex-start"
        fxLayoutGap="10px"
        fxLayoutGap.xs="10px"
      >
        <div fxFlex="50%">
          <button
            mat-stroked-button
            class="primary"
            aria-label="Example icon-button with a menu"
            matTooltip="Click to check your appointments"
            (click)="userAppointments()"
          >
            Your Appointments
          </button>
        </div>
        <div fxFlex="50%">
          <button
            mat-stroked-button
            class="primary"
            aria-label="Example icon-button with a menu"
            matTooltip="Click to see your scheduled appointments"
            (click)="userScheduledAppointments()"
          >
            your Scheduled Appointments
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
