/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';

.cal-month-view .cal-event {
  visibility: hidden;
}

.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment,
.cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  border-bottom: none;
}

.cal-event .cal-event-title {
  color: white;
}

#calendar {
  height: auto;
}

.fc-button {
  background-color: #800029;
  border: none;
  background-image: none;
  text-transform: capitalize;
}

.fc-event {
  border-width: 3px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.delete {
  background: white;
  color: red;
  border: #800029 solid 1px;
}

.standard {
  background: #800029;
  color: white;
  border: #800029 solid 1px;
}

.primary {
  color: #800029;
  border: solid 1px #800029;
  /* background-color: blanchedalmond; */
  /* width: 10%; */
}
