<mat-card>
  <!-- <h5>{{ appointmentName }}</h5>
    <p>{{ appointmentDesc }}</p>
    <p>{{ appointmentDate }}</p> -->
  <p *ngIf="currentRole == 'ROLE_USER'">
    Please select any one of the time slots below:
  </p>
  <mat-card-content *ngFor="let time of appointments">
    <div *ngIf="currentRole == 'ROLE_ADMIN'">
      <h4>{{ time.appointmentName }}</h4>
      <p>{{ time.appointmentDescription }}</p>
      <p>
        <strong>Date & Time: </strong> &nbsp; {{ time.date | date }} &nbsp;
        &nbsp;<button mat-raised-button class="primary">
          {{ time.startTime }} - {{ time.endTime }}
        </button>
      </p>

      <p>
        <strong>Selected by:</strong> &nbsp; {{ time.selectorName }}({{
          time.selectorEmail
        }})
      </p>
    </div>
    <!-- <div *ngIf="currentRole == 'ROLE_USER'">
        <button
          mat-raised-button
          class="primary"
          [matMenuTriggerFor]="menu"
          matTooltip="Please click to confirm"
        >
          {{ time.startTime }} - {{ time.endTime }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onConfirm(time.id)">confirm</button>
          <button mat-menu-item>cancel</button>
        </mat-menu>
      </div> -->
    <hr />
  </mat-card-content>
  <!--   
    <button
      mat-raised-button
      class="primary"
      [matMenuTriggerFor]="manage"
      *ngIf="currentRole == 'ROLE_ADMIN'"
      matTooltip="Please click to delete or update"
    >
      Manage
    </button>
    <mat-menu #manage="matMenu">
      <button mat-menu-item>
        <a style="cursor: pointer;" (click)="onDeleteAppointment()">Delete</a>
      </button>
      <button mat-menu-item>
        <a style="cursor: pointer;" (click)="onUpdateAppointment()">Update</a>
      </button>
    </mat-menu> -->
</mat-card>
