<div class="example-container" fxLayoutAlign="center">
    <form
    [formGroup]="eventForm"
    (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="cal-select" required>
        <mat-label>Select Calendar</mat-label>
        <mat-select [disableOptionCentering]="true" [(value)]="selectedCal">
          <mat-option *ngFor="let cal of calendars" [value]="cal.id" (click)="selectCalendar(cal.id)">{{ cal.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Event Title" formControlName="title" />
      </mat-form-field><br>
  
      <mat-form-field style="width:60%;">
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
          placeholder="Event Description"
          cols="50"
          formControlName="description"
        ></textarea>
      </mat-form-field><br>
  
      <mat-form-field>
        <input
          matInput
          placeholder="Event Location"
          formControlName="location"
        />
      </mat-form-field><br>
  
      <!-- <mat-form-field>
        <input
          matInput
          placeholder="Recipient Email"
          formControlName="email"
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field><br> -->
      <mat-form-field id="end-date">
        <input
        matInput
        placeholder="Start Date"
        formControlName="startDate"
        [matDatepicker]="startpicker"
        readonly>
        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #startpicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="!allDay">
        <mat-label>Start Time</mat-label>
        <input
        matInput
        formControlName="startTime"
        aria-label="default time"
        [value]="event.start.toLocaleTimeString([], {hour: '2-digit',  minute:'2-digit'})"
        [ngxTimepicker]="starttime"
        readonly>
        <ngx-material-timepicker #starttime [minutesGap]="5" [appendToInput]="true" [theme]="timeTheme"></ngx-material-timepicker>
      </mat-form-field><br>
      <mat-form-field id="end-date">
        <input
        matInput
        placeholder="End Date"
        formControlName="endDate"
        [matDatepicker]="endpicker"
        readonly>
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #endpicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="!allDay">
        <mat-label>End Time</mat-label>
        <input
        matInput
        formControlName="endTime"
        aria-label="default time"
        [value]="event.end.toLocaleTimeString([], {hour: '2-digit',  minute:'2-digit'})"
        [ngxTimepicker]="endtime"
        readonly>
        <ngx-material-timepicker #endtime [minutesGap]="5" [appendToInput]="true" [theme]="timeTheme"></ngx-material-timepicker>
      </mat-form-field><br>
      <mat-form-field id="primary-color">
        <input
        matInput
        formControlName="primary"
        [style.background]="primaryColor"
        [value]="primaryColor"
        [style.color]="'white'"
        placeholder="Event Color"
        [cpOutputFormat]="'hex'"
        (colorPickerClose)="setPrimary(color)"
        [cpPosition]="'top-right'"
        [cpPresetColors]="['#5484ed','#a4bdfc','#46d6db','#7ae7bf','#51b749','#fbd75b','#ffb878','#ff887c','#dc2127','#dbadff','#585858']"
        [cpOKButton]="true"
        [cpColorMode] = "'presets'"
        [cpFallbackColor]="primaryColor"
        [cpPresetLabel]="'Event Color'"
        [(colorPicker)]="color"
        readonly>
      </mat-form-field>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="adding emails">
          <mat-chip
            *ngFor="let email of emails"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(email)"
          >
            {{ email }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Add Recipients"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-hint>Use commas or hit ENTER for multiple emails.</mat-hint>
      </mat-form-field>
      <mat-checkbox formControlName="allDay" (click)="allday()" color="primary">All Day</mat-checkbox>
  
      <!-- <mat-toolbar>
        <mat-toolbar-row>
          <span class="example-spacer"></span>
          <button
            type="button"
            class="primary"
            mat-raised-button
            (click)="openDateRangeDialog()"
          >
            Add date and time
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-divider></mat-divider> -->
  
      <mat-toolbar>
        <mat-toolbar-row>
          <!-- <button type="button" mat-raised-button color="primary">
            Add Recipients
          </button> -->
          <button type="button" mat-raised-button class="primary select-group" (click)="groupSelect()">Select Groups</button>&nbsp;&nbsp;
          <button type="submit" mat-raised-button class="primary" [disabled]="!eventForm.valid">
            Confirm
          </button>
          <button mat-raised-button color="warn" (click)="onNoClick()" class="cancel-button">Cancel</button>
          
          <span class="example-spacer"></span>

        </mat-toolbar-row>
      </mat-toolbar>
    </form>
  
  </div>
  