.wrapper {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 75px;
  margin-bottom: 40px;
  height: 65%;
}

.broadcast-wrap{
    height:70%;
    margin-left:10%;
    margin-right:10%;
}

.carousel-slide {
  height: 100%;
  width: 80%;
}

.space {
  height: 25px;
}

#calendar {
  margin-bottom: 25px;
}

.carousel {
  color: #800029;
  margin: 10px;

}

.heading {
  background: #800029;
  color: white;
  margin: 10px;
  border: rgb(185, 163, 90) solid 1px;
}

.event {
  background: rgb(185, 163, 90);
  color: white;
  margin: 10px 90px;
  padding: 5px;
  max-width: 100%;
  border: #800029 solid 1px;
}





.mat-list .mat-list-item:hover {
  color: white;
  background: #800029;
  border: #BD955A solid 1px;


}

.mat-list-base .mat-list-item {
  margin: 10px;
  border: #800029 solid 1px;
  max-width: 100%;

}


.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px !important;
  position: relative;
  height: inherit;
}

.mat-list-base .mat-list-item.mat-multi-line .mat-list-item-content,
.mat-list-base .mat-list-option.mat-multi-line .mat-list-item-content {
  padding-top: 5px;
  padding-bottom: 5px !important;
}

@media screen and (min-width: 1200px) {

  .example-card-width {
    max-width: 90%
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {


  .example-card-width {
    max-width: 90%
  }
}


/* On screens that are 992px wide or less */
@media screen and (min-width: 600px) and (max-width: 991px) {

  .example-card-width {
    max-width: 90%
  }
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {


  .example-card-width {
    max-width: 90%
  }
}
