<form class="example-container" [formGroup]="groupForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Group Title" formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Group Description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-form-field>
        <input
          matInput
          placeholder="Type an email address"
          formControlName="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <span class="example-spacer"></span>
      <button
        mat-button
        type="button"
        class="primary"
        matTooltip="click to add emails"
        (click)="addEmails()"
      >
        Add emails
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <mat-toolbar>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="cancel()">
        Cancel
      </button>
      &nbsp; &nbsp;
      <button type="submit" mat-raised-button class="primary">
        Create Group
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
