.example-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  width: 60%;
  color: #800029;
  border: #800029 solid 1px;
  background-color: white;
}

.example-container>* {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  font: inherit;
  background-color: white;
  color: #800029;

}

.mat-toolbar-row {
  padding: 0;
}
