<form class="example-container" [formGroup]="groupForm" (ngSubmit)="onSubmit()">
  <mat-form-field *ngIf="isCourseGroup" style="cursor: pointer;width:50%;">
    <mat-label>Group Type</mat-label>
    <mat-select formControlName="groupType">
      <mat-option *ngFor="let grpType of groupTypes" [value]="grpType" disabled>
        {{ grpType }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupForm.controls['groupType'].hasError('required')"
      >Please choose a group type</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="isCourseGroup" style="cursor: pointer;width:50%;">
    <mat-label>Select Major</mat-label>
    <mat-select
      formControlName="majorControl"
      (selectionChange)="onMajorChanged($event)"
    >
      <mat-option>--</mat-option>
      <mat-option *ngFor="let major of majors" [value]="major">
        {{ major }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupForm.controls['majorControl'].hasError('required')"
      >Please choose a Major</mat-error
    >
  </mat-form-field>
  <mat-form-field *ngIf="isCourseGroup" style="cursor: pointer;width:50%;">
    <mat-label>Title</mat-label>
    <mat-select
      formControlName="title"
      (selectionChange)="onTitleChanged($event)"
    >
      <mat-option>--</mat-option>
      <mat-option *ngFor="let v of courseGroupInfo" [value]="v.title">
        {{ v.title }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupForm.controls['title'].hasError('required')"
      >Please choose a Major</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="isCourseGroup" style="cursor: pointer;width:50%;">
    <mat-label>Description</mat-label>
    <mat-select formControlName="description">
      <mat-option>--</mat-option>
      <mat-option
        *ngFor="let v of courseGroupInfo"
        [value]="v.description"
        disabled
      >
        {{ v.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupForm.controls['description'].hasError('required')"
      >Please choose a Major</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="!isCourseGroup">
    <mat-label>Group Type</mat-label>
    <mat-select formControlName="groupType">
      <mat-option *ngFor="let grpType of groupTypes" [value]="grpType" disabled>
        {{ grpType }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="groupForm.controls['groupType'].hasError('required') && !editMode"
      >Please choose a group type</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="!isCourseGroup">
    <input matInput placeholder="Group Title" formControlName="title" />
    <mat-error *ngIf="groupForm.controls['title'].hasError('required')"
      >Please enter group title</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="!isCourseGroup">
    <textarea
      matInput
      placeholder="Group Description"
      formControlName="description"
    ></textarea>
    <mat-error *ngIf="groupForm.controls['description'].hasError('required')"
      >Please enter group description</mat-error
    >
  </mat-form-field>

  <mat-form-field class="example-chip-list" style="cursor: pointer;width:75%;">
    <mat-chip-list #chipList aria-label="adding emails">
      <mat-chip
        *ngFor="let email of emails"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(email)"
      >
        <mat-icon mat-list-icon>person_outline</mat-icon> {{ email }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Enter Emails"
        matInput
        [formControl]="email"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>

    <mat-error *ngIf="!isEmailValid">{{ errorMessage }}</mat-error>

    <mat-hint>Use comma or hit ENTER to enter multiple emails!</mat-hint>
  </mat-form-field>
  <div *ngIf="editMode">
    <!-- <mat-form-field
      class="example-full-width"
      *ngFor="let g of groupForm.get('editEmailsArray').controls; let i = index"
    >
      <input
        type="email"
        matInput
        placeholder="Telephone"
        formControlName="editEmail"
      />
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field> -->
    <mat-toolbar class="primary" style="margin: 10px auto; padding-left: 10px;">
      <mat-toolbar-row *ngFor="let e of editEmails; let i = index">
        <mat-icon mat-list-icon>person_outline</mat-icon>
        <span>{{ e }}</span> &nbsp;
        <!-- <span class="example-spacer"></span> -->

        <a style="cursor: pointer;" (click)="deleteEmail(i)"
          ><mat-icon matSuffix>delete</mat-icon></a
        >
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div
    style="text-align: center; color: black; margin-top: 10px;"
    *ngIf="!editMode"
  >
    <span>OR</span>
  </div>

  <mat-form-field style="cursor: pointer;width:75%;" *ngIf="!editMode">
    <ngx-mat-file-input
      #removableInput
      formControlName="uploadFile"
      placeholder="upload an excel file"
      accept=".xlsx,.csv"
      (change)="upload($event)"
    ></ngx-mat-file-input>
    <button
      mat-icon-button
      matSuffix
      *ngIf="removableInput.empty"
      (click)="removableInput.clear($event)"
    >
      <mat-icon>folder</mat-icon>
    </button>
    <mat-error *ngIf="groupForm.get('uploadFile').hasError('required')">
      Please select a file
    </mat-error>

    <button
      mat-icon-button
      matSuffix
      *ngIf="!removableInput.empty"
      (click)="removableInput.clear($event)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <mat-error
      *ngIf="isInvalid && !uploadForm.get('uploadFile').hasError('required')"
    >
      {{ invalidExtension }}
    </mat-error>
  </mat-form-field>

  <mat-form-field style="cursor: pointer;width:50%;">
    <mat-label>Semester Term</mat-label>
    <mat-select formControlName="semesterTerm">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let term of semesterTerm" [value]="term">
        {{ term }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupForm.controls['semesterTerm'].hasError('required')"
      >Please choose a Semester Term</mat-error
    >
  </mat-form-field>

  <mat-form-field style="cursor: pointer;width:50%;">
    <mat-label>Semester Year</mat-label>
    <mat-select formControlName="semesterYear">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let year of semesterYear" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupForm.controls['semesterYear'].hasError('required')"
      >Please choose a Semester Year</mat-error
    >
  </mat-form-field>
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="cancel()">
        Cancel
      </button>
      &nbsp; &nbsp;
      <button type="submit" mat-raised-button class="primary">
        {{ editMode ? "Update" : "Create Group" }}
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
