<mat-card>
  <h5>{{ groupName }}</h5>
  <p>{{ groupDesc }}</p>

  <mat-list>
    <mat-toolbar>
      <mat-toolbar-row>
        <span
          ><h3 mat-subheader>{{ numOfmembers }} &nbsp; members</h3></span
        >
        <span class="example-spacer"></span>
        <mat-form-field class="example-full-width">
          <input
            type="text"
            matInput
            [(ngModel)]="searchText"
            placeholder="Search members"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- <h3 mat-subheader>{{ numOfmembers }} &nbsp; members</h3>
    <span class="example-spacer"></span>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        [(ngModel)]="searchText"
        placeholder="Search members"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->

    <!-- <mat-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{ folder.name }}</h4>
        <p mat-line>{{ folder.updated | date }}</p>
      </mat-list-item>
    </mat-list> -->

    <mat-list-item *ngFor="let email of groupemails | filterMember: searchText">
      <mat-icon mat-list-icon>person_outline</mat-icon>
      <!-- <a style="cursor: pointer;"
        ><h4 mat-line>{{ email.name }}</h4>
        <p mat-line>{{ email.email }}</p>
      </a> -->

      <h4 mat-line>{{ email.email }}</h4>
      <p mat-line>{{ email.name }}</p>
    </mat-list-item>
  </mat-list>

  <button
    mat-raised-button
    class="primary"
    [matMenuTriggerFor]="manage"
    matTooltip="click to edit or message group"
  >
    Manage
  </button>
  <mat-menu #manage="matMenu">
    <button mat-menu-item *ngIf="groupType === 'custom'" (click)="shareGroup()">
      <a style="cursor: pointer;">Share</a>
    </button>
    <button mat-menu-item (click)="editGroup()">
      <a style="cursor: pointer;">Edit</a>
    </button>

    <button mat-menu-item (click)="deleteGroup(id)">
      <a style="cursor: pointer;">Delete</a>
    </button>
    <button mat-menu-item>
      <a style="cursor: pointer;" (click)="messageGroup()">Message</a>
    </button>
  </mat-menu>
</mat-card>
