.primary {
  color: #800029;
  border: #800029 solid 1px;


}

.mat-menu-item:hover:not([disabled]) {
  color: white;
  background: #800029;
}

.example-tooltip-red {
  background: #800029;
}

example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: white;
}

.mat-form-field {
  font-size: 14px;
  font-weight: 400;
}

.mat-menu-item .mat-icon-no-color,
.mat-menu-item-submenu-trigger::after {
  color: inherit;
}

.container-detail {
  margin: 44px auto;
}

.container {
  margin: 15px auto;
}
