<div mat-dialog-content>
  <div>
    <!-- <mat-form-field class="example-chip-list" [formControl]="email"> -->
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="adding emails">
        <mat-chip
          *ngFor="let email of emails"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(email)"
        >
          {{ email }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Enter Emails"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
      <mat-hint>Use comma or hit ENTER to enter multiple emails!</mat-hint>
      <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="onNoClick()" color="warn">
    Cancel
  </button>

  <button mat-button class="primary" (click)="saveDialogData()" cdkFocusInitial>
    Ok
  </button>
</div>
