<mat-toolbar class="top-detail-row">
    <span class="spacer"></span><mat-icon (click)="close()" class="close-button" matTooltip="Close">clear</mat-icon>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="shareForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input
            matInput
            formControlName="recipients"
            placeholder="Recipient Email">
        </mat-form-field>
        <mat-toolbar>
            <button
            mat-raised-button
            type="submit"
            class="submit">Share</button>
        </mat-toolbar>
    </form>
</div>
