<div class="container">
  <div class="row">
    <div class="col-md-6 login-container">
      <h2 style="margin: auto">Sign up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="fname">First Name:</label>
          <input
            type="text"
            class="form-control"
            formControlName="fname"
            id="fname"
          />
          <span
            class="error"
            *ngIf="
              signupForm.controls['fname'].hasError('required') &&
              signupForm.controls['fname'].touched
            "
          >
            first name is required
          </span>
        </div>

        <div class="form-group">
          <label for="lname">Last Name:</label>
          <input
            type="text"
            class="form-control"
            formControlName="lname"
            id="lname"
          />

          <span
            class="error"
            *ngIf="
              signupForm.controls['lname'].hasError('required') &&
              signupForm.controls['lname'].touched
            "
          >
            last name is required
          </span>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            id="email"
            autocomplete="off"
          />
          <span
            class="error"
            *ngIf="
              signupForm.controls['email'].hasError('required') &&
              signupForm.controls['email'].touched
            "
          >
            email is required
          </span>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            id="pwd"
            autocomplete="off"
          />

          <span
            class="error"
            *ngIf="
              signupForm.controls['password'].hasError('required') &&
              signupForm.controls['password'].touched
            "
          >
            a valid password is required
          </span>
        </div>

        <div class="form-group">
          <label for="confirmPwd">Confirm Password:</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPwd"
            id="confirmPwd"
            autocomplete="off"
          />
          <span
            class="error"
            *ngIf="
              signupForm.value.password !== signupForm.value.confirmPwd;
              else passwordMatch
            "
          >
            Passwords don't match.
          </span>

          <ng-template #passwordMatch
            ><div class="success">Password matched</div></ng-template
          >
        </div>

        <button class="btn btn-success" [disabled]="signupForm.invalid">
          Sign UP
        </button>
        <!-- <div *ngIf="signupForm" class="error">
        <div>Invalid credentials.</div>
      </div> -->
      </form>
    </div>
  </div>
</div>
