<mat-card style="height:31%">
  <mat-card-header>
    <mat-card-title>
      User File Upload
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-container"
      [formGroup]="uploadForm"
      (ngSubmit)="onSubmit()"
      enctype="multipart/form-data"
    >
      <mat-form-field style="cursor: pointer;">
        <ngx-mat-file-input
          #removableInput
          formControlName="uploadFile"
          placeholder="Upload .csv file"
          accept=".xlsx,.csv"
          (change)="upload($event)"
        ></ngx-mat-file-input>
        <button
          mat-icon-button
          matSuffix
          *ngIf="removableInput.empty"
          (click)="removableInput.clear($event)"
        >
          <mat-icon>folder</mat-icon>
        </button>
        <mat-error *ngIf="uploadForm.get('uploadFile').hasError('required')">
          Please select a file
        </mat-error>

        <button
          mat-icon-button
          matSuffix
          *ngIf="!removableInput.empty"
          (click)="removableInput.clear($event)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
      <mat-error
        *ngIf="isInvalid && !uploadForm.get('uploadFile').hasError('required')"
      >
        {{ invalidExtension }}
      </mat-error>
      <button type="submit" mat-raised-button class="primary submit-button">
        Ok
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!-- <div style="text-align:center">
  <label>
    <input type="file" (change)="selectFile($event)" />
  </label>
  <button [disabled]="!selectedFiles" (click)="upload()">Upload</button>
</div> -->
