<ng-http-loader
  [backgroundColor]="'#800029'"
  [minDuration]="300"
></ng-http-loader>

<form
  class="example-container"
  [formGroup]="appointmentForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field style="width: 50%;">
    <input matInput placeholder="Appointment Title" formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Appointment Description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Location" formControlName="location" />
  </mat-form-field>

  <div>
    <mat-form-field class="example-chip-list" style="width: 50%;">
      <mat-chip-list #chipList aria-label="adding emails">
        <mat-chip
          *ngFor="let email of emails"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(email)"
        >
          <mat-icon mat-list-icon>person_outline</mat-icon> {{ email }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Enter Emails"
          #userInput
          [formControl]="email"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>

      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option
          *ngFor="let user of filteredUserList | async"
          [value]="user"
        >
          {{ user }}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>Use comma or hit ENTER to enter multiple emails!</mat-hint>
    </mat-form-field>

    &nbsp; &nbsp;
    <button
      mat-raised-button
      type="button"
      class="button-maroon"
      (click)="groupSelect()"
      style="width:20%;"
    >
      Select Groups
    </button>
  </div>
  <br />
  <div *ngIf="editMode">
    <mat-card-content *ngFor="let time of appointments">
      Date: {{ time.date }}

      <div style="margin-top: 10px;">
        <div *ngFor="let timeSlot of time.response">
          <button
            mat-raised-button
            class="primary"
            style="margin-bottom: 10px;"
          >
            {{ timeSlot.startTime }} - {{ timeSlot.endTime }}
          </button>
          - &nbsp;Selected by: &nbsp; {{ timeSlot.selectorName }}
        </div>
        <br />
      </div>
    </mat-card-content>
  </div>
  <div *ngIf="!editMode">
    <div
      formArrayName="dateRange"
      *ngFor="
        let date of appointmentForm.get('dateRange').controls;
        let i = index
      "
    >
      <div class="date" [formGroupName]="i">
        <mat-form-field style="width:25%;margin-left:15px;margin-top:10px">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker> </mat-form-field
        >&nbsp;

        <span class="example-spacer"></span>
        <button
          mat-icon-button
          (click)="deleteDate(i)"
          *ngIf="appointmentForm.get('dateRange').controls.length > 1"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <div formArrayName="time">
          <div
            class="time"
            *ngFor="let time of date.get('time').controls; let x = index"
            style="padding-bottom: 10px ;"
            [formGroupName]="x"
          >
            <button
              mat-icon-button
              type="button"
              (click)="deleteTime(date, x)"
              *ngIf="date.get('time').controls.length > 1"
            >
              <mat-icon>clear</mat-icon>
            </button>
            <mat-form-field style="width:15%">
              <mat-label>Start Time</mat-label>
              <input
                matInput
                formControlName="start"
                aria-label="default time"
                [ngxTimepicker]="starttime"
                readonly
              />
              <ngx-material-timepicker
                #starttime
                [minutesGap]="5"
                [theme]="timeTheme"
                [appendToInput]="true"
              ></ngx-material-timepicker>
              <mat-icon matSuffix>access_time</mat-icon> </mat-form-field
            >&nbsp;
            <mat-form-field style="width:15%">
              <mat-label>End Time</mat-label>
              <input
                matInput
                formControlName="end"
                aria-label="default time"
                [ngxTimepicker]="endtime"
                readonly
              />
              <ngx-material-timepicker
                #endtime
                [minutesGap]="5"
                [theme]="timeTheme"
                [appendToInput]="true"
              ></ngx-material-timepicker>
              <mat-icon matSuffix>access_time</mat-icon> </mat-form-field
            >&nbsp;
            <mat-form-field style="width:23%">
              <mat-label>Length</mat-label>
              <input matInput formControlName="interval" type="number" />
              <mat-hint>Length of each time slots in MINUTES.</mat-hint>
            </mat-form-field>
          </div>
          <mat-toolbar>
            <mat-toolbar-row>
              <button
                mat-raised-button
                type="button"
                class="button-maroon"
                (click)="addTime(date)"
                style="margin: 10px"
              >
                Add Time
              </button>
              <span class="example-spacer"></span>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </div>
    </div>
    <mat-toolbar>
      <mat-toolbar-row>
        <button
          type="button"
          class="button-maroon"
          mat-raised-button
          (click)="addDate()"
        >
          Add Date
        </button>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <mat-divider></mat-divider>

  <mat-toolbar>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="cancel()">
        Cancel
      </button>
      &nbsp; &nbsp;
      <button type="submit" mat-raised-button class="button-maroon">
        {{ editMode ? "Update Appointment" : "Create Appointment" }}
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
