<form
  class="example-container"
  [formGroup]="appointmentForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <input matInput placeholder="Appointment Title" formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Appointment Description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Enter your email"
      formControlName="email"
      required
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-toolbar>
    <mat-toolbar-row>
      <p>Please select date and time interval:</p>
      <span class="example-spacer"></span>
      <button
        type="button"
        class="primary"
        mat-raised-button
        (click)="openDateRangeDialog()"
      >
        click to select date and time
      </button>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
      <button
        type="button"
        class="primary"
        mat-raised-button
        (click)="openDialog()"
      >
        Add date
      </button>
    </mat-toolbar-row> -->
  </mat-toolbar>
  <mat-divider></mat-divider>

  <mat-toolbar>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn">Cancel</button> &nbsp; &nbsp;
      <button type="submit" mat-raised-button class="primary">
        Create Appointment
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
