<div class="container">
  <mat-card class="example-card">
    <mat-card-content>
      <h3>Change password</h3>
      <form
        class="example-form"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="New password"
            formControlName="newPassword"
          />
          <mat-error
            *ngIf="
              forgotPasswordForm.controls['newPassword'].hasError('required')
            "
          >
            Please enter a new password
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Confirm password"
            formControlName="confirmNewPassword"
          />

          <mat-error
            *ngIf="
              forgotPasswordForm.controls['confirmNewPassword'].hasError(
                'required'
              )
            "
          >
            Please confirm your new password
          </mat-error>
        </mat-form-field>

        <div style="padding-top: 5px">
          <button mat-raised-button type="submit" class="primary">
            Change password
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
