<mat-card>
  <!-- <mat-card-header *ngFor="let time of appointment">
    <mat-card-title>{{ time[0].appointment.name }}</mat-card-title>
    <mat-card-subtitle>{{ time[0].appointment.description }}</mat-card-subtitle>
  </mat-card-header> -->
  <h5>{{ appointmentName }}</h5>
  <p>{{ appointmentDesc }}</p>
  <!-- <h4>time slots:</h4> -->

  <mat-card-content *ngFor="let time of appointment">
    <!-- <p>{{ time[0].appointment}}</p> -->
    <button mat-raised-button class="primary" [matMenuTriggerFor]="menu">
      {{ time.startTime }} - {{ time.endTime }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>confirm</button>
      <button mat-menu-item>cancel</button>
    </mat-menu>

    <!-- <p>End time: {{ time.endTime }}</p> -->
    <!-- <hr /> -->
    <!-- <p>
      Appointment date: {{ appointment.dateRange[0].appointmentDate | date }}
    </p>
    <p>
      Appointment Time:
      {{ appointment.dateRange[0].timeInterval[0].startTime }} -
      {{ appointment.dateRange[0].timeInterval[0].endTime }}
    </p>
    <p>
      Appointment Time Interval Duration:
      {{ appointment.dateRange[0].timeInterval[0].timeIntervalDuration }}
    </p> -->
  </mat-card-content>

  <button mat-raised-button class="primary" [matMenuTriggerFor]="manage">
    Manage
  </button>
  <mat-menu #manage="matMenu">
    <button mat-menu-item>
      <a style="cursor: pointer;" (click)="onDeleteAppointment()">Delete</a>
    </button>
    <button mat-menu-item>
      <a style="cursor: pointer;" (click)="onUpdateAppointment()">Update</a>
    </button>
  </mat-menu>
</mat-card>
