<mat-card>
  <h5>{{ appointmentName }}</h5>
  <p>{{ appointmentDesc }}</p>
  <p>{{ appointmentDate | date }}</p>
  <p
    *ngIf="
      currentRole == 'ROLE_USER' ||
      (currentRole === 'ROLE_ADMIN' && appointmentType === 'received')
    "
  >
    Please select any one of the time slots below:
  </p>
  <mat-card-content *ngFor="let time of appointment">
    <div *ngIf="currentRole === 'ROLE_ADMIN' && appointmentType === 'sent'">
      <button mat-raised-button class="primary">
        {{ time.startTime }} - {{ time.endTime }}
      </button>
    </div>
    <div
      *ngIf="
        currentRole == 'ROLE_USER' ||
        (currentRole === 'ROLE_ADMIN' && appointmentType === 'received')
      "
    >
      <button
        mat-raised-button
        class="primary"
        [matMenuTriggerFor]="menu"
        matTooltip="Please click to confirm"
      >
        {{ time.startTime }} - {{ time.endTime }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onConfirm(time.id)">confirm</button>
        <button mat-menu-item>cancel</button>
      </mat-menu>
    </div>
  </mat-card-content>

  <button
    mat-raised-button
    class="primary"
    [matMenuTriggerFor]="manage"
    *ngIf="currentRole === 'ROLE_ADMIN' && appointmentType === 'sent'"
    matTooltip="Please click to delete or update"
  >
    Manage
  </button>
  <mat-menu #manage="matMenu">
    <button mat-menu-item>
      <a style="cursor: pointer;" (click)="onDeleteAppointment(id)">Delete</a>
    </button>
    <button mat-menu-item>
      <a style="cursor: pointer;" (click)="onUpdateAppointment()">Update</a>
    </button>
  </mat-menu>
</mat-card>
