.spacer{
    flex: 1 1 auto;
}
mat-toolbar{
    height: 2em;
    background-color: white;
}
div{
    margin-bottom: 10px;
}
.submit{
    background-color: rgb(55, 226, 55);
    color: white;
}
.close-button{
    color: darkgrey;
    cursor:pointer;
}