<mat-toolbar class="top-detail-row">
    <div>New Calendar</div><span class="spacer"></span><mat-icon (click)="close()" class="close-button" matTooltip="Close">clear</mat-icon>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="calForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Calendar Name">
        </mat-form-field><br>
        <mat-form-field class="example-chip-list" style="width:100%">
                <mat-chip-list #chipList aria-label="adding emails">
                    <mat-chip
                        *ngFor="let email of emails"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(email)"
                    >
                        <mat-icon mat-list-icon>person_outline</mat-icon>
                        {{ email }}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                        placeholder="Add Recipients"
                        matInput
                        [formControl]="email"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)"
                    />
                    </mat-chip-list>
                    <mat-error *ngIf="!isEmailValid">{{ errorMessage }}</mat-error>
                    <mat-hint>Use commas or hit ENTER for multiple emails.</mat-hint>
        </mat-form-field><br>
        <mat-form-field>
            <input
                matInput
                formControlName="color"
                [(colorPicker)]="color"
                [style.background]="color"
                [cpFallbackColor]="'#5484ed'"
                [style.color]="'white'"
                [value]="color"
                placeholder="Calendar Color"
                [cpOutputFormat]="'hex'"
                (colorPickerClose)="setPrimary(color)"
                [cpPosition]="'top-right'"
                [cpPresetColors]="[
                '#5484ed',
                '#a4bdfc',
                '#46d6db',
                '#7ae7bf',
                '#51b749',
                '#fbd75b',
                '#ffb878',
                '#ff887c',
                '#dc2127',
                '#dbadff',
                '#585858'
                ]"
                [cpOKButton]="true"
                [cpColorMode]="'presets'"
                [cpPresetLabel]="'Calendar Color'"
                readonly
            />
        </mat-form-field>
        <mat-toolbar>
            <button mat-raised-button type="submit" class="button-maroon" [disabled]="!calForm.valid">Save</button>&nbsp;&nbsp;
            <button mat-raised-button type="button" (click)="groupSelect()" class="button-maroon" *ngIf="role !== 'ROLE_USER'">Select Groups</button>
        </mat-toolbar>  
    </form>
</div>
