.example-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    width: 80%;
    color: #800029;
    border: #800029 solid 1px;
    background-color: white;
  }
  
  .example-container>* {
    width: 100%;
  }
<<<<<<< HEAD
=======

  #start-date,#end-date,#primary-color{
    margin-right:2em;
  }
>>>>>>> rohan/beta-demo

  .cancel-button{
    margin-left:20px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar {
    font: inherit;
    background-color: white;
  
  }
  
  .mat-toolbar-row {
    padding: 0;
  
  }
  
  .primary {
    color: #800029;
    background-color: blanchedalmond;
    /* width: 10%; */
  }
  