<div class="example-container">
  <form
  [formGroup]="eventForm"
  (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input matInput placeholder="Event Title" formControlName="title" />
    </mat-form-field><br>

    <mat-form-field style="width:100%;">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
        placeholder="Event Description"
        cols="50"
        formControlName="description"
      ></textarea>
    </mat-form-field><br>

    <mat-form-field>
      <input
        matInput
        placeholder="Event Location"
        formControlName="location"
      />
    </mat-form-field><br>

    <mat-form-field>
      <input
        matInput
        placeholder="Recipient Email"
        formControlName="email"
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field><br>
    <mat-form-field id="end-date">
      <input
      matInput
      placeholder="Start Date"
      formControlName="startDate"
      [matDatepicker]="startpicker">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #startpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="!allDay">
      <input
      matInput
      formControlName="startTime"
      placeholder="Start Time"
      [ngxTimepicker]="starttime">
      <ngx-material-timepicker #starttime [minutesGap]="5"></ngx-material-timepicker>
    </mat-form-field><br>
    <mat-form-field id="end-date">
      <input
      matInput
      placeholder="End Date"
      formControlName="endDate"
      [matDatepicker]="endpicker">
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #endpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="!allDay">
      <input
      matInput
      formControlName="endTime"
      placeholder="End Time"
      [ngxTimepicker]="endtime">
      <ngx-material-timepicker #endtime [minutesGap]="5"></ngx-material-timepicker>
    </mat-form-field><br>
    <mat-form-field id="primary-color">
      <input
      matInput
      formControlName="primary"
      [style.background]="color"
      placeholder="Event Color"
      [cpOutputFormat]="'hex'"
      (colorPickerClose)="setPrimary(color)"
      [cpPosition]="'top-right'"
      [cpPresetColors]="['#5484ed','#a4bdfc','#46d6db','#7ae7bf','#51b749','#fbd75b','#ffb878','#ff887c','#dc2127','#dbadff','#585858']"
      [cpOKButton]="true"
      [(colorPicker)]="color">
    </mat-form-field>
    <!-- <mat-form-field>
      <input
      matInput
      formControlName="secondary"
      [style.background]="color2"
      placeholder="Secondary Color"
      [cpOutputFormat]="'hex'"
      (colorPickerClose)="setSecondary(color2)"
      [cpPosition]="'top-right'"
      [cpPresetColors]="['#5484ed','#a4bdfc','#46d6db','#7ae7bf','#51b749','#fbd75b','#ffb878','#ff887c','#dc2127','#dbadff','#e1e1e1']"
      [cpOKButton]="true"
      [(colorPicker)]="color2">
    </mat-form-field><br> -->
    <mat-checkbox formControlName="allDay" (click)="allday()">All Day</mat-checkbox>

    <!-- <mat-toolbar>
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <button
          type="button"
          class="primary"
          mat-raised-button
          (click)="openDateRangeDialog()"
        >
          Add date and time
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider> -->

    <mat-toolbar>
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <button type="submit" mat-raised-button class="primary">
          Confirm
        </button>
        <button mat-raised-button color="warn" (click)="onNoClick()" class="cancel-button">Cancel</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </form>

  <mat-form-field>
    <input
      matInput
      placeholder="Event Location"
      formControlName="location"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Recipient Email"
      formControlName="email"
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-toolbar>
    <mat-toolbar-row>
      <!-- <p>Please click on the side to select date and time interval</p> -->
      <span class="example-spacer"></span>
      <button
        type="button"
        class="primary"
        mat-raised-button
        (click)="openDateRangeDialog()"
      >
        Add date and time
      </button>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
      <button
        type="button"
        class="primary"
        mat-raised-button
        (click)="openDialog()"
      >
        Add date
      </button>
    </mat-toolbar-row> -->
  </mat-toolbar>
  <mat-divider></mat-divider>

  <mat-toolbar>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button type="submit" mat-raised-button class="primary">
        Create Event
      </button>
      <button mat-raised-button color="warn" (click)="onNoClick()" class="cancel-button">Cancel</button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
