<!-- <mat-list [routerLink]="[id]" style="cursor: pointer;">
  <h4 mat-subheader>{{ appointment.name }}</h4>
  <mat-list-item> -->
<!-- <mat-icon mat-list-icon>assignment</mat-icon> -->
<!-- <h3 mat-line>{{ appointment.description }}</h3>
    <p mat-line>Appointment Dates</p> -->
<!-- <div mat-line *ngFor="let date of dates"> -->
<!-- <p mat-line *ngFor="let date of dates">{{ date.date }}</p> -->
<!-- <p mat-line>{{ date.times }}</p> -->
<!-- <div mat-line *ngFor="let time of date.times">
        <p mat-line>{{ time.startTime }}</p>
        <p mat-line>{{ time.endTime }}</p>
        <p mat-line>{{ time.interv }}</p> -->
<!-- <p mat-line>{{ date.times }}</p> -->

<!-- <br /> -->
<!-- </div> -->
<!-- <br /> -->
<!-- </div> -->

<!-- <p mat-line>
      {{ appointment.dateRange[0].appointmentDate | date }}
    </p>
    <p mat-line></p> -->

<!-- <p mat-line> {{folder.updated | date}} </p> -->
<!-- </mat-list-item>
</mat-list> -->

<!-- <mat-card
  class="example-card"
  (click)="showDetails(id)"
  style="cursor: pointer;"
>
  <mat-card-content>
    <p>
      {{ appointmentName }}
    </p>
    <p>{{ appointmentDescription }}</p>
    <p>
      <span><mat-icon>room</mat-icon></span
      >{{ appointmentLocation }}
    </p>
  </mat-card-content>
</mat-card> -->

<mat-list
  class="example-card"
  (click)="showDetails(id)"
  style="cursor: pointer;"
>
  <mat-list-item>
    <mat-icon mat-list-icon>insert_invitation</mat-icon>
    <h5 mat-line>
      <strong>{{ appointmentName }}</strong>
    </h5>
    <p mat-line>{{ appointmentDescription }}</p>
    <p mat-line>
      <!-- <mat-icon style="font-size: 14px; width: 17px ;">date_range</mat-icon
      > -->
      {{ appointmentDate }}
    </p>
    <p mat-line>
      <mat-icon mat-list-icon style="font-size: 14px; width: 15px;"
        >room</mat-icon
      >{{ appointmentLocation }}
    </p>
  </mat-list-item>
</mat-list>
