<mat-list
  class="example-card-width"
  (click)="showDetails(id)"
  style="cursor: pointer;"
>
  <mat-list-item>
    <mat-icon mat-list-icon>insert_invitation</mat-icon>
    <h5 mat-line>
      <strong>{{ appointmentName }}</strong>
    </h5>
    <p mat-line>{{ appointmentDescription }}</p>
    <p mat-line>
      {{ appointmentDate }}
    </p>
    <p mat-line>
      <mat-icon mat-list-icon style="font-size: 14px; width: 15px;"
        >room</mat-icon
      >{{ appointmentLocation }}
    </p>
  </mat-list-item>
</mat-list>
