<mat-toolbar>
    <mat-toolbar-row>
        <p>Please confirm these updated roles</p>
        <span class="spacer"></span>
        <mat-icon (click)="cancel()" matTooltip="cancel" style="cursor:pointer">clear</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<div class="user-wrap">
    <div *ngFor="let user of data">
        <p class="user"><mat-icon>person_outline</mat-icon>{{user.name}} - 
            <span *ngIf="user.role==='ROLE_ADMIN'">Admin</span>
            <span *ngIf="user.role==='ROLE_PM'">Faculty</span>
            <span *ngIf="user.role==='ROLE_MO'">Moderator</span>
            <span *ngIf="user.role==='ROLE_USER'">Student</span>
        </p>
    </div>
</div>
<mat-toolbar>
    <mat-toolbar-row>
        <mat-hint>Close this dialog if you need to make further adjustments.</mat-hint>
        <span class="spacer"></span>
        <button mat-raised-button class="primary submit-button" (click)="confirm()">Confirm</button>
    </mat-toolbar-row>
</mat-toolbar>