<mat-card style="height:100%">
    <mat-card-header>
        <mat-card-title>
            Change User Roles
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let user of users">
            <p>{{user.name}}({{user.email}}) <br>
            <mat-form-field style="width:25%">
                <mat-label>Role</mat-label>
                <mat-select [(value)]="user.role">
                    <mat-option value="ROLE_ADMIN">Admin</mat-option>
                    <mat-option value="ROLE_PM">Faculty</mat-option>
                    <mat-option value="ROLE_MO">Moderator</mat-option>
                    <mat-option value="ROLE_USER">Student</mat-option>
                </mat-select>   
            </mat-form-field>
            </p>
        </div>
    </mat-card-content>
    <button mat-raised-button class="primary submit-button">OK</button>
</mat-card>
