<mat-tab-group dynamicHeight>
  <mat-tab label="Register Users">
    <div style="max-width: 40%; margin: 10px">
      <app-register-users></app-register-users>
    </div>
  </mat-tab>
  <mat-tab label="Register individual users">
    <div style="max-width: 60%; margin: 10px">
      <app-register></app-register>
    </div>
  </mat-tab>
  <mat-tab label="Delete Users">
    <div style="max-width: 60%; margin: 10px">
      <app-delete-users></app-delete-users>
    </div>
  </mat-tab>
  <mat-tab label="Update roles">
    <div style="max-width: 60%; margin: 10px">
      <app-update-roles></app-update-roles>
    </div>
  </mat-tab>
  <mat-tab label="Upload Courses">
    <div style="max-width: 60%; margin: 10px">
      <app-upload-major></app-upload-major>
    </div>
  </mat-tab>
</mat-tab-group>
<!-- <div
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap="10px"
  fxLayoutGap.xs="10px"
  style="margin: 10px;"
>
  <div fxFlex="35%">
    <app-register-users></app-register-users>
    <br />
    <app-delete-users></app-delete-users>
    <br>
    <app-upload-courses></app-upload-courses>
  </div>
  <app-register fxFlex="30%"></app-register>
  <app-update-roles fxFlex="35%" class="update-roles"></app-update-roles>
</div> -->
