<mat-toolbar class="top-detail-row">
    <mat-toolbar-row>
        <p mat-dialog-content>Edit Calendar: {{cal.name}}</p>
        <span class="spacer"></span><mat-icon (click)="close()" class="close-button" matTooltip="Close">clear</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="nameForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field><br><span class="spacer"></span>
        <mat-form-field class="example-chip-list" style="width:90%">
            <mat-chip-list #chipList aria-label="adding emails">
                <mat-chip
                  *ngFor="let email of emails"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(email)"
                >
                  <mat-icon mat-list-icon>person_outline</mat-icon>
                  {{ email }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                    placeholder="Enter Emails"
                    matInput
                    [formControl]="email"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                  />
                    </mat-chip-list>
                    <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="selected($event)"
                    >
                    <mat-option
                        *ngFor="let user of filteredUserList | async"
                        [value]="user"
                    >
                        {{ user }}
                    </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="!isEmailValid">{{ errorMessage }}</mat-error>
                    <mat-autocomplete
                        #auto="matAutocomplete"
                        (optionSelected)="selected($event)"
                    >
                        <mat-option
                        *ngFor="let user of filteredUserList | async"
                        [value]="user"
                        >
                        {{ user }}
                        </mat-option>
                    </mat-autocomplete>
              <mat-hint>Use commas or hit ENTER for multiple emails.</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                formControlName="color"
                [(colorPicker)]="color"
                [style.background]="primaryColor"
                [cpFallbackColor]="'#5484ed'"
                [style.color]="'white'"
                [value]="primaryColor"
                placeholder="Calendar Color"
                [cpOutputFormat]="'hex'"
                (colorPickerClose)="setPrimary(color)"
                [cpPosition]="'top-right'"
                [cpPresetColors]="[
                '#5484ed',
                '#a4bdfc',
                '#46d6db',
                '#7ae7bf',
                '#51b749',
                '#fbd75b',
                '#ffb878',
                '#ff887c',
                '#dc2127',
                '#dbadff',
                '#585858'
                ]"
                [cpOKButton]="true"
                [cpColorMode]="'presets'"
                [cpPresetLabel]="'Calendar Color'"
                readonly
            />
        </mat-form-field>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-raised-button type="submit" class="button-maroon">Save</button>&nbsp;&nbsp;
                <button mat-raised-button type="button" class="button-maroon" (click)="groupSelect()">Select Groups</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </form>
</div>