<mat-toolbar class="cal-item">
    <mat-checkbox style="cursor:pointer" [(ngModel)]="checked" color="primary" (click)="toggleCal()">{{calendar.name}}</mat-checkbox>
    <span class="spacer"></span>
    <mat-icon class="cal-menu" matTooltip="Calendar Options" [matMenuTriggerFor]="options" *ngIf="calendar.createdBy === username">more_vert</mat-icon>
    <mat-menu #options>
        <button
        mat-menu-item
        (click)="renameCal()">
            Rename
        </button>
        <button
        mat-menu-item>
            Share
        </button>
        <button
        mat-menu-item
        (click)="deleteCal()">
            Delete
        </button>
    </mat-menu><br>
</mat-toolbar>