<mat-toolbar class="cal-item">
    <mat-checkbox style="cursor:pointer" [(ngModel)]="checked" color="primary" (click)="toggleCal()" [style.color]="calendar.color">{{calendar.name}}</mat-checkbox>
    <span class="spacer"></span>
    <mat-icon class="cal-menu" matTooltip="Calendar Options" [matMenuTriggerFor]="options" *ngIf="calendar.createdBy.email === username && !calendar.defaultCalendar">more_vert</mat-icon>
    <mat-menu #options>
        <button
        mat-menu-item
        (click)="renameCal()">
            Edit
        </button>
        <button
        mat-menu-item
        (click)="shareCal()">
            Share
        </button>
        <button
        mat-menu-item
        (click)="deleteCal()">
            Delete
        </button>
    </mat-menu><br>
</mat-toolbar>