.cal-item{
    height: 2em;
    background-color: white;
    font-size: 0.8em;
}
.cal-menu{
    opacity: 0;
    cursor:pointer;
}

div{
    padding-bottom: 10px;
}

mat-toolbar{
    background-color: white;
    height: 1em;
}
.close-button{
    cursor: pointer;
}

.cal-item:hover .cal-menu{
    opacity: 100;
}
.spacer{
    flex: 1 1 auto;
}