<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    attr.role="navigation"
    mode="side"
    opened="false"
  >
    <mat-toolbar>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >Menu</mat-toolbar
    >
    <mat-nav-list>
      <a mat-list-item routerLink="/home/dashboard" (click)="drawer.close()">
        <mat-icon aria-hidden="false" aria-label="Example dashboard icon"
          >dashboard</mat-icon
        >

        Dashboard</a
      >
      <a mat-list-item routerLink="/home/calendar" (click)="drawer.close()"
        ><mat-icon aria-hidden="false" aria-label="Example calendar icon"
          >calendar_today</mat-icon
        >Calendar</a
      >
      <a mat-list-item routerLink="/home/appointment" (click)="drawer.close()">
        <mat-icon aria-hidden="false" aria-label="Example appointment icon"
          >assignment</mat-icon
        >
        Appointment</a
      >
      <a mat-list-item routerLink="/home/dashboard" (click)="drawer.close()">
        <mat-icon aria-hidden="false" aria-label="Example event icon"
          >event</mat-icon
        >

        Event</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Communication-app</span>

        <span class="example-spacer"></span>
        <button mat-raised-button (click)="logout()">log out</button>
      </mat-toolbar-row>

      <!-- <button class="logout">logout</button> -->
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
