<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    attr.role="navigation"
    mode="over"
    opened="false"
  >
    <mat-toolbar class="maroon">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >Menu</mat-toolbar
    >
    <mat-nav-list>
      <a mat-list-item routerLink="/home/dashboard" (click)="drawer.close()">
        <mat-icon aria-hidden="false" aria-label="Example dashboard icon"
          >dashboard</mat-icon
        >

        Dashboard</a
      >
      <a mat-list-item routerLink="/home/calendar" (click)="drawer.close()"
        ><mat-icon aria-hidden="false" aria-label="Example calendar icon"
          >calendar_today</mat-icon
        >Calendar</a
      >
      <a mat-list-item routerLink="/home/appointment" (click)="drawer.close()">
        <mat-icon aria-hidden="false" aria-label="Example appointment icon"
          >assignment</mat-icon
        >
        Appointments</a
      >
      <a mat-list-item routerLink="/home/group" (click)="drawer.close()">
        <mat-icon aria-hidden="false" aria-label="Example group icon"
          >group</mat-icon
        >

        Groups</a
      >
      <a
        mat-list-item
        routerLink="/home/register-users"
        (click)="drawer.close()"
      >
        <mat-icon aria-hidden="false" aria-label="Example person add icon"
          >usb
        </mat-icon>

        Administration</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Skylight@ULM</span>

        <span class="example-spacer"></span>
        <mat-icon>notifications</mat-icon> &nbsp; &nbsp;
        <button
          mat-raised-button
          [matMenuTriggerFor]="user"
          aria-label="Example icon-button with a menu"
        >
          {{ nameOfUser }} <mat-icon>expand_more </mat-icon>
        </button>
        <mat-menu #user="matMenu">
          <button mat-menu-item>
            <span>Your profile</span>
          </button>
          <button mat-menu-item>
            <span>User Manual</span>
          </button>
          <button mat-menu-item>
            <span>FAQs</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <span>Sign Out</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>

      <!-- <button class="logout">logout</button> -->
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
