.logout {
  float: right;
  color: red;
}

.sidenav-container {
  height: 100%;
  /* margin: 10px */
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.mat-primary {
  background: blanchedalmond;
  color: #800029;
  z-index: 999999;
}

.mat-list-base .mat-list-item {
  color: #800029;
  /* background-color: #BD955A; */

}

.mat-raised-button {
  color: blanchedalmond;
  background: #800029;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-menu-item:hover:not([disabled]) {
  background: rgba(255, 235, 205, 1);
  color: #800029;
}

.mat-nav-list .mat-list-item:hover {
  background: rgba(255, 235, 205, 1);
  color: #800029;
}
