<mat-toolbar class="top-detail-row">
    <span class="spacer"></span><mat-icon (click)="close()" class="close-button" matTooltip="Close">clear</mat-icon>
</mat-toolbar>

<h2 mat-dialog-content>{{ event.title }}</h2><small *ngIf="event.allDay">* All Day</small>
<div mat-dialog-content>
    <div *ngIf="!event.allDay">
        <p>{{ event.start.toLocaleString([], {month:'2-digit', day:'2-digit', year:'2-digit', hour: '2-digit',  minute:'2-digit'}) }} - 
        {{event.end.toLocaleString([], {month:'2-digit', day:'2-digit', year:'2-digit', hour: '2-digit',  minute:'2-digit'}) }}</p>
    </div>
    <div *ngIf="event.allDay && event.end">
        <p>{{event.start.toLocaleDateString()}} - {{event.end.toLocaleDateString()}}</p>
    </div>
    <div *ngIf="event.allDay && !event.end">
        <p>{{event.start.toLocaleDateString()}}</p>
    </div>
    <p><b>Location:</b> {{ event.extendedProps.location }}</p>
    <p><b>Description:</b> {{ event.extendedProps.description }}</p>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="options-button">Options</button> 
    <mat-menu #menu>
        <button mat-menu-item (click)="editEvent()">Edit Event</button>
        <button mat-menu-item (click)="deleteEvent()">Delete</button>
    </mat-menu>
</div>
