.close-button{
    color: darkgrey;
    cursor:pointer;
}
.options-button{
    margin-bottom: 10px;
    color: #800029;
}

.option:hover{
    background-color: #800029;
    color: white;
}

.content{
    width: 60%;
    height: 50%;
    overflow-y:auto;
    margin-left:15px;
}

.spacer{
    flex: 1 1 auto;
}
.top-detail-row, .bottom-row{
    background-color: white;
    height: 10%;
}

.search-bar{
    font-size: 1em;
    color: rgb(122, 121, 121);
}

.example-full-width{
    font-size: 0.75em;
    color: rgb(122, 121, 121);
}

mat-toolbar{
    background-color: white;
}
