.close-button{
    color: darkgrey;
    cursor:pointer;
}
.options-button{
    margin-bottom: 10px;
    color: #800029;
}

.option:hover{
    background-color: #800029;
    color: white;
}

.spacer{
    flex: 1 1 auto;
}
.top-detail-row{
    background-color: white;
    height: 50px;
}

mat-toolbar{
    background-color: white;
}
