<button mat-icon-button (click)="close()" matTooltip="Cancel"><mat-icon>clear</mat-icon></button>
<form [formGroup]="shareForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-chip-list" style="width:90%">
            <mat-chip-list #chipList aria-label="adding emails">
                <mat-chip
                *ngFor="let email of emails"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(email)"
                >
                {{ email }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                placeholder="Enter Emails"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
                />
            </mat-chip-list>
        </mat-form-field>
    <mat-toolbar>
        <button
        mat-raised-button
        type="submit"
        class="submit primary">Share</button>&nbsp;&nbsp;
        <button mat-raised-button type="button" (click)="groupSelect()" class="primary">Select Groups</button>
    </mat-toolbar>
</form>