.primary {
  color: #800029;
  border: #800029 solid 1px;

}

.mat-menu-item:hover:not([disabled]) {
  color: white;
  background: #800029;
}


.mat-menu-item .mat-icon-no-color,
.mat-menu-item-submenu-trigger::after {
  color: inherit;
}

.group-wrap {
  height: 80%;
  overflow: auto;
}
