<div class="wrapper">
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="10000"
    color="accent"
    maxWidth="auto"
    slides="5"
    [loop]="true"
    [hideArrows]="true"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    proportion="55"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of newImgs; let i = index"
      [image]="slide"
      overlayColor="#00000040"
      [hideOverlay]="true"
    ></mat-carousel-slide>
  </mat-carousel>
</div>
