<div class="wrapper">
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="3000"
    color="#800029"
    maxWidth="auto"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    proportion="35"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of newImgs"
      [image]="slide"
      overlayColor="#00000040"
      [hideOverlay]="true"
      style="max-height:auto; width:auto;"
    ></mat-carousel-slide>
  </mat-carousel>
</div>
