<p><strong>Select group</strong></p>
<mat-form-field style=" margin-left: 10px; padding: 10px;">
  <input
    type="text"
    matInput
    [(ngModel)]="searchText"
    placeholder="Search group"
  />
  <mat-icon matSuffix>search</mat-icon>
  <mat-hint>Search by group name or description</mat-hint>
</mat-form-field>
<div class="group-select-wrap example-card">
  <div *ngIf="groups.length > 0; else elseBlock">
    <mat-selection-list #users>
      <mat-list-option
        *ngFor="let group of groups | groupFilter: searchText"
        (click)="addGroup(group.id)"
        [value]="group.name"
      >
        <mat-icon mat-list-icon>group</mat-icon>
        <p mat-line><strong>{{ group.name }}</strong></p>
        <h4 mat-line>{{ group.semesterTerm }}-{{ group.semesterYear }}</h4>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
<mat-toolbar>
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button (click)="close()" mat-raised-button class="button-maroon" type="button">
      ok
    </button>
    <!-- <mat-icon (click)="close()" style="cursor:pointer" aria-hidden="false"
      >clear</mat-icon
    > -->
  </mat-toolbar-row>
</mat-toolbar>
<ng-template #elseBlock>
  <p>You have no group yet!</p>
</ng-template>
