mat-grid-tile {
  background: lightblue;
  /* padding: 20px; */
  /* margin-left: 20px;
    margin-right: 20px; */

}

.example-container {
  width: auto;
  height: 500px;
  margin: 10px;
  /* border: 1px solid #555; */
}

.example-drawer {
  width: 500px;
}
