<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="example-drawer">
    <app-appointment-list></app-appointment-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="60%"><app-appointment-list></app-appointment-list></div>
  <div class="item item-2" fxFlex="40%"><router-outlet></router-outlet></div>
  <!-- <div class="item item-3" fxFlex>Item 3</div> -->
</div>
