.primary {
  color: #800029;
  border: #800029 solid 1px;
  /* background-color: blanchedalmond; */
  /* width: 10%; */
}

.mat-toolbar {
  background: white;
}

.mat-form-field {
  font-size: 13px;
  font-weight: 400;
  width: 52%;
}

.example-spacer {
  flex: 1 1 auto;
}

.appt-wrap {
  height: 90%;
  overflow: auto;
}

.pagination-center {
  margin-right: 80px;
}
