<div style=" margin: 10px;">
  <button
    mat-stroked-button
    class="primary"
    (click)="create()"
    *ngIf="currentRole == 'ROLE_ADMIN' || currentRole == 'ROLE_PM'"
  >
    Create Appointment
  </button>
</div>
<!-- <button mat-stroked-button class="primary" (click)="create()">
  Create Appointment
</button> -->

<!-- <mat-grid-list cols="4" rowHeight="150px">
  <mat-grid-tile colspan="1" rowspan="1"
    ><app-appointment-item
      *ngFor="let appointment of appointments"
      [appointment]="appointment"
      [id]="appointment.id"
      [dates]="appointment.dates"
    >
    </app-appointment-item
  ></mat-grid-tile>
</mat-grid-list> -->

<app-appointment-item
  *ngFor="let appointment of appointments"
  [appointment]="appointment"
  [id]="appointment.id"
  [dates]="appointment.dates"
>
</app-appointment-item>
