<!-- <div class="appt-wrap" *ngIf="appointmentsExists; else elseBlock">
   -->
<div class="appt-wrap"></div>
<div style=" margin-left: 10px; padding: 10px;">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      matInput
      [(ngModel)]="searchText"
      placeholder="Search Appointments"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Search by Appointment name or description</mat-hint>
  </mat-form-field>
</div>

<app-appointment-item
  *ngFor="let appointment of appointments | appointmentFilter: searchText"
  [appointment]="appointment"
  [id]="appointment.id"
  [dates]="appointment.date"
>
</app-appointment-item>
<!-- </div>
<ng-template #elseBlock
  >No appointments exists. please create appointments! test</ng-template
> -->
